<!-- <app-header></app-header> -->
<app-left-nav></app-left-nav>
<app-right-nav></app-right-nav>
<app-ngfor></app-ngfor>
<app-ngif></app-ngif>

<h1>StoreName:{{Storename|uppercase}}</h1>
<br>
<br>
<h1>StoreLogo :<img [src]="StoreLogo"/></h1>
<br>
<br>
<app-two-way-binding></app-two-way-binding>
<br>
<app-event-binding></app-event-binding>
<h3>Welcome :{{clientName}}</h3>
<app-table>
    
</app-table>
<app-parent-component></app-parent-component>
<app-productlist> </app-productlist>
<app-produtcbyid></app-produtcbyid>

